@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap");
@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  text-align: center;
}
p {
  cursor: pointer;
  text-align: center;
  font-size: 200%;
  font-family: Cafe24Ohsquare;
  border-radius: 10px;
  font-style: normal;
}
h1 {
  text-align: center;
}
span {
  font-size: 1%;
  color: gray;
  font-family:  D2coding, Helvetica, Arial, sans-serif;
}
footer {
  font-family: Gothic A1;
  padding-top: 10.5px;
  padding-bottom: 5px;
  position: fixed;
  background-color: lightsteelblue;
  width: 370px;
  bottom: 0;
  left: 0;
  color: rgb(22, 22, 22);
  text-align: center;
  border-top-right-radius: 20px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: help;
}
#input {
    border-radius: 5px;
    text-align: start;
    width: 60px;
    height: 20px;
    font-size: 1em;
    font-family: Helvetica, gothic A1, sans-serif;
    border: none;
}